*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: #e7e7e7;
}

.container {
  width: 100%;
  padding-right: 1.5rem, 0.75rem;
  padding-left: 1.5rem, 0.75rem;
  margin: 2rem auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}

.row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-top: 0;
}

@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
  }
}

.h-100 {
  height: 100% !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.retro-layout .v-height {
  height: 240px;
}

.retro-layout .h-entry {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.retro-layout .h-entry .featured-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.retro-layout .h-entry:hover .featured-img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.retro-layout .h-entry.mb-30 {
  margin-bottom: 30px;
}
.retro-layout .h-entry .date {
  font-size: 15px;
}

.retro-layout .text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  max-width: 350px;
}
.retro-layout .text h2 {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 0;
}
.retro-layout .text span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

.retro-layout .gradient {
  position: relative;
}
.retro-layout .gradient:before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(18%, transparent),
    color-stop(99%, rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.8))
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

@media (max-width: 767.98px) {
  .retro-layout .img-5 {
    height: 240px !important;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}